// Fonts
@import url('https://fonts.googleapis.com/css2?family=Allura&family=DM+Sans:wght@400;700&display=swap');

// Colors
$lemon          : #B4D234;
$pink           : #FF0080;
$blue           : #5989EB;
$green          : #64D06C;
$black          : #000000;
$gray           : #18191F;
$gray2          : #828282;
$offwhite       : #E5E5E5;
$white          : #FFFFFF;

// Typography
$font-heading   : 'Allura', cursive;
$font-body      : 'DM Sans', sans-serif;